<div class="panel panel-default">

	<div class="panel-heading">
		<h3 class="panel-title">Übergrid</h3>
	</div>

	<div class="panel-body">
		Possible place for filter
	</div>

{snippet table}
	{control table}
{/snippet}

	<div class="panel-footer clearfix">
		<nav class="pull-left" n:snippet="paginator">
			{control paginator}
		</nav>
		<nav class="pull-right" n:snippet="perPage">
			{control perPage}
		</nav>
	</div>

</div>