<ul class="pagination no-margin" n:if="$pages > 0">
	<li>
		<a n:href="page! $page -1" class="ajax" aria-label="Previous">
			<span aria-hidden="true">&laquo;</span>
		</a>
	</li>
{for $i = 1; $i <= $pages; $i++}
	<li n:class="$i == $page ? active"><a n:href="page! $i" n:tag-if="$i <> $page" class="ajax"><span>{$i}</span></a></li>
{/for}
	<li>
		<a n:href="page! $page +1" class="ajax" aria-label="Next">
			<span aria-hidden="true">&raquo;</span>
		</a>
	</li>
</ul>