<nav n:snippet="perPage" class="pull-right">

	<ul class="pagination no-margin">
{foreach $perPages as $i}
		<li n:class="$i == $perPage ? active"><a n:href="perPage! $i" class="ajax">{$i ?: 'Vše'}</a></li>
{/foreach}
	</ul>

</nav>