<table class="table table-striped table-hover">
	<thead>
		<tr n:inner-foreach="$columns as $column">
			{$column->createHeader()}
		</tr>
	</thead>
	<tbody n:snippet="tbody">

	{snippetArea items}
	{foreach $items as $item}
		<tr data-id="{$item->getId()}" n:snippet="item-{$item->getId()}" n:inner-foreach="$columns as $column">
			{$item->render($column)}
		</tr>
	{/foreach}
	{/snippetArea}

	</tbody>
</table>