<div class="panel panel-default" n:snippet="datagrid">

	<div class="panel-heading">
		<h3 class="panel-title">Übergrid</h3>
	</div>

	<div class="panel-body">
		Possible place for filter
	</div>

	{control $control:table}

	<div class="panel-footer clearfix">
		{control $control:paginator}
		{control $control:perPage}
	</div>

</div>